.container{
    margin-top: 100px ;
}
.card img{
    border-radius: 10px 10px 0 0;
}
.card{
    border: none;
}
.productos{
    margin-top: 120px;
}
.btn-info{
    border: none;
}
.btn-danger{
    border: none;
    background: rgb(114, 114, 114);
}